# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env.*

# macOS / OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Generated native folders (Expo managed)
ios/
android/
